.div0 {
    background-color: rgb(162, 71, 153);
    border-color: black;
    border: solid;
    margin: 20px;
    padding: 20px;

}

.div1 {
    background-color: rgba(171, 85, 198, 0.61);
    border-color: black;
    border: solid;
    margin: 20px;
    padding: 20px;

}

.div2 {
    background-color: rgba(141, 44, 145, 0.8);
    border-color: black;
    border: solid;
    margin: 20px;
    padding: 20px;

}

.div3 {
    background-color: rgb(124, 65, 126);
    border-color: black;
    border: solid;
    margin: 20px;
    padding: 20px;

}

.div4 {
    background-color: rgba(133, 18, 117, 0.637);
    border-color: black;
    border: solid;
    margin: 20px;
    padding: 20px;

}

.div5 {
    background-color: rgba(204, 121, 215, 0.655);
    border-color: black;
    border: solid;
    margin: 20px;
    padding: 20px;

}

.div6 {
    background-color: rgba(89, 19, 112, 0.76);
    border-color: black;
    border: solid;
    margin: 20px;
    padding: 20px;

}

.div7 {
    background-color: rgba(85, 13, 133, 0.715);
    border-color: black;
    border: solid;
    margin: 20px;
    padding: 20px;

}

.div8 {
    background-color: rgb(208, 141, 241);
    border-color: black;
    border: solid;
    margin: 20px;
    padding: 20px;

}

.div9 {
    background-color: rgb(154, 96, 164);
    border-color: black;
    border: solid;
    margin: 20px;
    padding: 20px;

}

.div10 {
    background-color: rgb(154, 96, 164);
    border-color: black;
    border: solid;
    margin: 20px;
    padding: 20px;

}

img{
    width: 40%;
}